<content-header short="true">
  <div class="content-header__body">
    <img ng-if="vm.product.img" class="content-header__icon" ng-src="images/assets/{{ ::vm.product.img }}"/>
    <span class="content-header__title">{{ ::vm.service.product.name }}</span>
  </div>
  <div class="content-header__aside">
    <back-link></back-link>
  </div>
</content-header>

<service-basic-details service="vm.service"></service-basic-details>

<region heading="Maintenance">
  <table class="" style="margin-left: auto; margin-right: auto;">
    <tbody>
    <tr>
      <td class="tables__cell" title="Shuts down and deletes EC2 instance.">
        <button type="button"
                class="btn-rounded"
                ng-click="vm.deprovision()">
          Deprovision
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</region>

<div ng-if="vm.response">
  <region heading="Response">
    <table class="tables">
      <tbody>
      <tr>
        <td class="tables__cell">
          {{ vm.response }}
        </td>
      </tr>
      <tr><td class="tables__cell">
        &nbsp;
      </td></tr>
      </tbody>
    </table>
  </region>
</div>

<region heading="Provisioning Outputs">
    <table class="tables">
      <tbody>
      <tr ng-if="vm.getServiceOutput('public_ip_address')">
        <td class="tables__cell">
          Public IP
        </td>
        <td class="tables__cell">
          {{ vm.getServiceOutput('public_ip_address').value }}
        </td>
      </tr>
      <tr ng-if="vm.getServiceOutput('flavor_id')">
        <td class="tables__cell">
          Flavor ID
        </td>
        <td class="tables__cell">
          {{ vm.getServiceOutput('flavor_id').value }}
        </td>
      </tr>
      <tr ng-if="vm.getServiceOutput('image_id')">
        <td class="tables__cell">
          AMI ID
        </td>
        <td class="tables__cell">
          {{ vm.getServiceOutput('image_id').value }}
        </td>
      </tr>
      <tr ng-if="vm.getServiceOutput('vpc_id')">
        <td class="tables__cell">
          VPC
        </td>
        <td class="tables__cell">
          {{ vm.getServiceOutput('vpc_id').value }}
        </td>
      </tr>
      <tr ng-if="vm.getServiceOutput('subnet_id')">
        <td class="tables__cell">
          Subnet
        </td>
        <td class="tables__cell">
          {{ vm.getServiceOutput('subnet_id').value }}
        </td>
      </tr>
      <tr ng-if="vm.getServiceOutput('security_group_ids')">
        <td class="tables__cell">
          Security Groups
        </td>
        <td class="tables__cell">
          {{ vm.getServiceOutput('security_group_ids').value }}
        </td>
      </tr>
      <tr ng-if="vm.getServiceOutput('key_name')">
        <td class="tables__cell">
          Key Name
        </td>
        <td class="tables__cell">
          {{ vm.getServiceOutput('key_name').value }}
        </td>
      </tr>
      </tbody>
    </table>
</region>

